
.benefits__item{
  background-color: @basic-gray--light;

}

.benefits__item--big
{
  background-color: @basic-blue;

}

.benefits__item--street-photo
{

  background-image: url("../img/street-benefits-section.jpg");
  background-repeat: no-repeat;
}

