.booking{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 287px;
  justify-content: center;
  align-items: center;
  text-align: center;




  @media (min-width: @tablet-width) {
    min-height: 318px;

  }
}
.booking__text
{
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color:@basic-gray--dark;

}
.booking__subject{
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.booking__button{
  min-width: 250px;
  @media (min-width: @tablet-width) {
    min-width: 456px;

  }

}
