.button
{background-color: @basic-blue;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
color:@basic-white;
display: block;
padding-top: 15px;
padding-bottom: 15px;
text-align: center;
}
