.entertainments{
  background-color: @basic-white;
  .margin-padding--0();
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

}



.entertainments__title{
  font-weight: 700;
font-size: 18px;
line-height: 26px;
}
.entertainments__text{
  font-weight: 400;
font-size: 14px;
line-height: 21px;
color:@basic-gray--dark;
}
