.entertainments{
  background-color: @basic-white;
  .margin-padding--0();
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }

}
.entertainments__item{

margin-left: 70px;
min-height: 139px;



@media (min-width: @tablet-width) {
  min-height: 330px;
  margin-left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
}


.entertainments__title{
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  min-width: 90px;
text-align: left;

@media (min-width: @tablet-width) {
  min-width: 90px;
text-align: center;


}


}
.entertainments__title--accomadation::before{
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
  left: -50px;
  top:-10px;

  @media (min-width: @tablet-width) {
    width: 75px;
  height: 75px;
  background-size: contain;

  left: 10px;
  top: -100px;


  }
}

.entertainments__title--food::before{
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-image: url("../img/icon-food.svg");
  background-repeat: no-repeat;
  left: -50px;
  top:-10px;
  @media (min-width: @tablet-width) {
    width: 75px;
  height: 75px;
  background-size: contain;
  left: 10px;
  top: -100px;

  }
}

.entertainments__title--suvenirs::before{
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-image: url("../img/icon-suvenirs.svg");
  background-repeat: no-repeat;
  left: -50px;
  top:-10px;
  @media (min-width: @tablet-width) {
    width: 75px;
  height: 75px;
  background-size: contain;
  left: 10px;
  top: -100px;

  }
}

.entertainments__text{
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color:@basic-gray--dark;
  @media (max-width: @mobile-width-only) {
    text-align: left;
    padding-left: 0;
  }

}
