.header{
  background-color: @basic-white;
  position: relative;
  min-height: 56px;
  @media (min-width: @tablet-width) {
    max-height: 56px;
  }
}

.header__home-link{
  position: absolute;
  right: 0;
  left: 0;
  bottom: -30px;
  width: 102px;
  height: 84px;
  margin-right: auto;
  margin-left: auto;
}
