.page{
  height: 100%;
}

.page__body{
  background-color: @basic-white;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  min-width: 320px;
  min-height: 100%;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
