.photo
{
  .margin-padding--0();
}

.photo__thumbnail
{
  .margin-padding--0();
}
.photo__title
{font-weight: 700;
  font-size: 14px;
  line-height: 24px;}
.photo__author{
  font-weight: 400;
font-size: 14px;
line-height: 24px;
color:@basic-gray--dark;
text-transform: none;
}
.photo__likes{
  display: flex;
  font-weight: 700;
font-size: 14px;
line-height: 24px;

}
.photo__likes::before{
  content: "";
  display: block;
  width: 23px;
  height: 23px;

  background-image: url("../img/icon-like.svg");
  background-repeat: no-repeat;

}
.photo__item{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
