.review-form{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:20px;
  margin-top: 20px;


  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }

}





.review-form__fieldset{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: none;
  padding: 0;
  gap:20px;

  @media (max-width: @mobile-width-only){

    border-bottom:1px solid #E5E5E5;
    padding-bottom: 28px;

    &:last-of-type{
      border-bottom: none;
    }
    &:first-of-type::before{
      content: "";
      position: absolute;
      top: -70px;
      width: 280px;
      height: 1px;
      background-color: #E5E5E5;

    }

  }

  @media (min-width: @tablet-width){
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
  }

}

.review-form__fieldset--contact{
  @media (min-width: @tablet-width){
    border-top:1px solid #E5E5E5;}

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    width: auto;

    justify-content: space-between;
    border-top:1px solid #E5E5E5;
  }
}



.review-form__fieldset--impression{
  min-width: 280px;
  @media (min-width: @tablet-width){
    order: -1;
    flex-grow: 1;
    width: 40%;
    padding: 0;
    margin: 0;

    border-right:1px solid #E5E5E5;

  }
}

.review-form__fieldset--name{
  @media (min-width: @tablet-width){
    flex-grow: 1;
    width: 40%;
    padding: 0;
    margin: 0;
  }
}

// ------------------------------------------------------------
@media (min-width: @tablet-width){
  .review-form__fieldset--textarea,
  .review-form__fieldset--places,
  .review-form__fieldset--contact{
    width: 100%;
    min-width: 320px;

  }
}

.review-form__fieldset--textarea{
  @media (min-width: @tablet-width) {


    border-top:1px solid #E5E5E5;

  }
}


.review-form__fieldset--places{
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;


    border-top:1px solid #E5E5E5;

  }
  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}




.review-form__legend{

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 20px;
  @media (min-width: @tablet-width)
  {font-weight: 700;
    font-size: 21px;
    line-height: 26px;


  }
}
.review-form__fieldset--impression .review-form__legend,
.review-form__fieldset--name .review-form__legend{
  @media(min-width: @tablet-width){
    text-align: left;
    margin-bottom: 55px;

  }
}



.review-form__label{

  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: @basic-gray--dark;
  display: flex;
  width: 100%;
  justify-content: flex-start;


  align-items: center;
  gap:20px;
  min-height: 58px; //////////////////////////////////////////

}



.review-form__input{
  background-color: @input-background;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  min-height: 58px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  &:hover{
    background-color: @input-hover;
  }
  &:active,
  &:focus
  {
    background-color: @basic-white;
    outline-color: @input-hover;
  }

}



.review-form__input::placeholder{
  color: @basic-black;
}


.review-form__label--contacts{
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.review-form__label--phone::after{
  content: " ";
  position: absolute;
  display: block;
  width: 58px;
  height: 58px;
  right:0px;
  bottom: 0px;
  background-color: @pseudo-contacts-background;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: center;

}

.review-form__label--email::after{
  content: " ";
  position: absolute;
  display: block;
  width: 58px;
  height: 58px;
  right:0px;
  bottom: 0px;
  background-color: @pseudo-contacts-background;
  background-image: url("../img/icon-email.svg");
  background-repeat: no-repeat;
  background-position: center;

}
.review-form__label--questionnaire{
  display: flex;

  justify-content: flex-start;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
  position: relative;


}
.radio.review-form__label--questionnaire::before{
  content: "";
  width: 18px;
  height: 18px;
  left: 0;
  border: 15px solid @input-background;
  border-radius: 50%;
  cursor: pointer;
}

.review-form__label--questionnaire:hover::before{
  border-color:@input-hover;
}
.review-form__label--questionnaire:active::before{
  border-color:@input-down;
  background-color:fade(@basic-gray--dark, 30%);
}


.review-form__input:checked + .radio.review-form__label--questionnaire::before{
  background-color:@basic-gray--dark;
}


.checkbox.review-form__label--questionnaire::before{
  content: "";
  width: 48px;
  height: 48px;

  left: 0;
  background-color: @input-background;

  cursor: pointer;
}

.checkbox.review-form__label--questionnaire:hover::before{
  background-color:@input-hover;
}
.checkbox.review-form__label--questionnaire:active::before{
  background-color:@input-down;
  background-image: url("../img/tick-opacity30.svg");
  background-position: center;
  background-repeat: no-repeat;
}




.review-form__input:checked + .checkbox.review-form__label--questionnaire::before{
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.review-form__input:focus + .review-form__label--questionnaire::before{
  outline: 2px solid gray;
}


.review-form__textarea{
  width: 100%;
  background-color: @input-background;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  margin-bottom: 50px;
}


.review-form__textarea::placeholder
{font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @basic-black;}

.review-form__prompt{
  display: none;
  @media (min-width: @tablet-width) {
    display: block;
    margin-left: auto;
  }
}

.review-form__input--field-error{
  background-color: red;
}


.review-form__popup-wrapper{
  position: relative;
  display: block;
  width: 100%;

}
.review-form__popup
{
  display: none;
  top: -450px;
}
.popup--show{
  display: flex;
}
