.review-form{
  text-align: center;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.review-form__fieldset{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.review-form__fieldset--impression{
  @media (min-width: @tablet-width){
    order: -1;
    flex-grow: 1;
  }
}

.review-form__fieldset--name{
  @media (min-width: @tablet-width){
    flex-grow: 1;
  }
}

// ------------------------------------------------------------
@media (min-width: @tablet-width){
  .review-form__fieldset--textarea,
  .review-form__fieldset--places,
  .review-form__fieldset--contact{
    width: 100%;}
}

.review-form__fieldset--places{
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.review-form__fieldset--contact{

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}


.review-form__legend{
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.review-form__label{
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: @basic-gray--dark;
  display: flex;
  flex-wrap: wrap;
}

.review-form__input{
  background-color: @input-background;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;


}
.review-form__input::placeholder{
  color: @basic-black;


}

.review-form__label--contacts{
  position: relative;
}

.review-form__label--phone::after{
  content: " ";
  position: absolute;
  display: block;
  width: 58px;
  height: 58px;
  right:50px;
  background-color: @pseudo-contacts-background;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: center;

}

.review-form__label--email::after{
  content: " ";
  position: absolute;
  display: block;
  width: 58px;
  height: 58px;
  right:50px;
  background-color: @pseudo-contacts-background;
  background-image: url("../img/icon-email.svg");
  background-repeat: no-repeat;
  background-position: center;

}
.review-form__label--questionnaire{
  display: flex;
  flex-direction: row-reverse;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
}
.review-form__textarea{
  width: 100%;
}


.review-form__textarea::placeholder
{font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @basic-black;}

.review-form__prompt{
  display: none;
  @media (min-width: @tablet-width) {
    display: block;
  }
}




