

.site-navigation__list{
  .margin-padding--0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: @basic-blue;
  min-height: 223px;
  position: relative;
  top:-54px;
  margin-top:54px;
  color:@basic-white;

  @media (min-width: @tablet-width) {
    // flex-direction: row;
    // justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    // -------------------------------



    position: static;
    background-color: transparent;
    color: black;
    min-height: auto;
    margin-top:0px;
  }

}


.site-navigation__link{
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  color: inherit;


}
.site-navigation__item{
  display: flex;
  flex-direction: column;
  justify-content:center;
  text-align: center;
  box-shadow: @boxshadow;
  min-height: 55px;
  min-width: 150px;


  @media (min-width: @tablet-width) {
    box-shadow: none;

  }

}

.site-navigation__item:nth-child(3){
  grid-column: 4;
}



.site-navigation__dropdown
{
  width: 23px;
  height: 23px;
  border: none;
  background-color:@basic-transparent;
  position: absolute;
  right: 20px;
  bottom: 15px;

  @media (min-width: @tablet-width) {
    display: none;
  }

}

.site-navigation__dropdown--burger{
  background-image: url("../img/icon-menu-burger.svg");
  background-repeat: no-repeat;
}
