.site-navigation{

  position: relative;
}

.site-navigation__link{

  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  color: @basic-white;
}

.site-navigation__list{
  background-color: @basic-blue;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: absolute;
  min-width: 320px;
  width: 320px;
  left: 320px;
  top:-80px;
  .margin-padding--0();
}
.site-navigation__item{
  text-align: center;
  box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.site-navigation__dropdown
{display: block;
  width: 23px;
  height: 23px;
  position: absolute;
  right:20px;
}
