.social
{
  .margin-padding--0();
  display: flex;
  flex-wrap: wrap;

}

.social__item{
  display: block;
  position: relative;
  width: 48px;
  height: 48px;
  background-color: @basic-blue;
  margin-right: 6px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.social__item:last-child{
  margin-right: 0;
}

.social__item--twitter{
  background-image: url("../img/social/icon-twitter.svg");

}
.social__item--facebook{
  background-image: url("../img/social/icon-facebook.svg");
}

.social__item--youtube{
  background-image: url("../img/social/icon-youtube.svg");
}
