.video-gallery{


  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  @media(min-width:@tablet-width){
  padding-left: 60px;
  padding-right: 60px;
  }
}

.video-gallery__subject{
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 20px;
  @media(min-width:@tablet-width){
    font-weight: 700;
font-size: 30px;
line-height: 26px;
  }
}
.video-gallery__text{
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color:@basic-gray--dark;
}

.video-interface-range{
  background-color: @video-range-background;
}
