//фоны и шрифты
@basic-transparent: transparent;
@basic-white:#FFFFFF;
@basic-blue:#81B3D2;
@basic-black:#000000;
@basic-gray--dark:#333333;
@basic-gray--light:#EEEEEE;

//элементы
@boxshadow:0px 1px 0px rgba(1, 1, 1, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.2);
@basic-gray--medium:#D6D6D6;   // разделители св приемуществ в моб верстке
@input-background:#F2F2F2; // фон инпутов
@pseudo-contacts-background: #E6E6E6; // фон псевдоэлементов телефон и почта на странице формы
