// breakpointscolors
@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;

// colors
// фоны и шрифты
@basic-transparent: transparent;
@basic-white:#FFFFFF;
@basic-blue:#81B3D2;
@basic-black:#000000;
@basic-gray--dark:#333333;
@basic-gray--light:#EEEEEE;
@page__container--background:#E7E5E5;
@main-menu-current:#766357;

// элементы
@boxshadow:0px 1px 0px rgba(1, 1, 1, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.2);
@basic-gray--medium:#D6D6D6;   // разделители св приемуществ в моб верстке
@input-background:#F2F2F2; // фон инпутов
@pseudo-contacts-background: #E6E6E6; // фон псевдоэлементов телефон и почта на странице формы
@video-range-background: rgba(0,0,0,0.6); // фон шкалы видео




// hover focus active
//mob menu
@mob-menu-item-hover:#669EC0;
@mob-menu-item-down:#5496BD;
@video-button-hover:#333333;
@video-button-down: fade(#333333, 30%);
// tab+desk menu
@main-menu-hover:#81B3D2;
@main-menu-down:fade(#000000, 30%);
@main-menu-current-hover:#604E43;
@main-menu-current-down:fade(#766357, 30%);


//button
@button-hover:#669EC0;
@button-down:#5496BD;
@button-disabled:#E5E5E5;
//social
@social-hover:#669EC0;
@social-down:#5496BD;
//developer
@logo-hover:#81B3D2;
@logo-down:fade(#000000, 30%);
//input
@input-hover:#E5E5E5;
@input-down:#D5D5D5;
