@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-style: bold;
  font-weight: 700;
  src: local("PT Sans Bold"), url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page {
  background-color: #FFFFFF;
  font-family: 'PT Sans';
  font-style: normal;
  text-transform: uppercase;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
.site-navigation {
  background-color: #81B3D2;
}
.site-navigation__item {
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  color: #FFFFFF;
}
.button {
  background-color: #81B3D2;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #FFFFFF;
}
.main-header {
  background-image: url("../img/mount-back-welcome-section.jpg");
  background-repeat: no-repeat;
}
.main-header--index-page {
  background-image: url("../img/text-welcome-sedona etc.svg"), url("../img/mount-back-welcome-section.jpg");
  background-repeat: no-repeat, no-repeat;
}
.main-header__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.main-header__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
}
.benefits__item {
  background-color: #EEEEEE;
}
.benefits__item--big {
  background-color: #81B3D2;
}
.benefits__item--big .benefits__title,
.benefits__item--big .benefits__text,
.benefits__item--big .benefits__number {
  color: #FFFFFF;
}
.benefits__item--street-photo {
  background-image: url("../img/street-benefits-section.jpg");
  background-repeat: no-repeat;
}
.benefits__item--bridge-photo {
  background-image: url("../img/devils-bridge-benefits-section.jpg");
  background-repeat: no-repeat;
}
.benefits__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.benefits__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
.benefits__number {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
.entertainments {
  background-color: #FFFFFF;
}
.entertainments__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.entertainments__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
.booking__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}
.booking__subject {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}
.map {
  background-image: url("../img/map-back-map-section.png");
  background-repeat: no-repeat;
}
.hash__item {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

/*# sourceMappingURL=style.css.map */
